<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lw.cms.bnarticledownload.persistence.BnArticleDownloadMapper">
<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
<parameterMap type="BnArticleDownload" id="BnArticleDownloadparaMap">
<parameter property="id" resultMap="id" />
<parameter property="ismsg" resultMap="is_msg" />
<parameter property="isred" resultMap="is_red" />
</parameterMap>

<resultMap type="BnArticleDownload" id="BnArticleDownloadResultMap">
        <id property="id" column="id" />
        <result property="ismsg" column="is_msg" />
        <result property="isred" column="is_red" />
        </resultMap>
        <sql id="BnArticleDownloadColumn">id,is_msg,is_red</sql>

<!--新建任务（save）方法 -->
	<insert id="save" parameterType="BnArticleDownload">
<![CDATA[
    		insert into bn_article_download (id,is_msg,is_red) values (#{id},#{ismsg},#{isred});
    	]]>
		
	</insert>
 <select id="getList" parameterType="BnArticleDownload" resultMap="BnArticleDownloadResultMap">
 		select * from bn_article_download 
 		order by id desc
 		<if test="firstResult!=null and maxResult!=null">limit #{firstResult} , #{maxResult};</if>
 </select>
 
 <select id="getCount" resultType="int">
	   select count(1) from bn_article_download
	</select>
	
	<select id="getById" resultMap="BnArticleDownloadResultMap" parameterType="int">
	   select <include refid="BnArticleDownloadColumn"/> from bn_article_download where id = #{id}
	</select>
	
	<!--修改 -->
	<update id="editById"  parameterMap="BnArticleDownloadparaMap">
		UPDATE
		bn_article_download
		<set>
			<if test="ismsg != null and ismsg != ''">
				is_msg = #{ismsg},
			</if>
			<if test="isred != null and isred != ''">
				is_red = #{isred},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="delById">
	   delete from bn_article_download where id in
	   <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">#{item}</foreach>
	</delete>

</mapper>